
.space {
  height: 60px;
}
.container {
  height: 20px;
  background-color: #fff;
  z-index: 4;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.08);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 0;
  color: #00bcd4;
  
  .headerLeft {
    padding: 20px;
    .siteName {
      font-family: 'Dancing Script', cursive;
      font-size: 25px;
    }
    a {
      text-decoration: none;
      color: #00bcd4;
    }
  }

  .headerRight {
    padding: 20px;
    a {
      text-decoration: none;
      color: #00bcd4;
    }
  }

  
}