.inputContainer {
  border: 1px solid #00bcd4;
  border-radius: 7px;
  padding: 10px;

  input {
    width: 100%;
    border: none;
    color: #000;
    font-weight: 800;
    font-size: 14px;
  }

  input:focus{
    outline: none;
  } 
}