.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px 0;

  background-color:#f1f2f6;
  .wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-direction: column;
    align-items: center;

    .stats {
      max-width: 1200px;
      display: inline-flex;


      .firstPlace {
        width: 50%
      }
      .otherPlaces {
        width: 50%
      }
    }
    .gallery {
      display: flex;
      justify-content: center;
      max-width: 1200px;
    }
  }
}